@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    height: 100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
li{padding-block:10px}

main{
    background: url(./images/large-react-logo.png) no-repeat right 85%  ;
}
